{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    <div class="datatable">
        {{ include('admin/user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>
    </div>
{% endblock %}
