{% extends 'base.html.twig' %}

{% block title %}Page d'accueille{% endblock %}

{% block body %}
    {% for userrole in userroles %}
        {{ userrole }} &nbsp;&nbsp;  
    {% endfor %}
<div class="container"><br>
    <h1>Horaire du zoo </h1>
    <section class="horaire">
        <div class="horairetable">
            <table class="table">
                <thead>
                    <tr>
                        <th>Jour</th>
                        <th>Heure d'ouverture</th>
                        <th>Heure de fermeture</th>
                    </tr>
                </thead>
                <tbody>
                {% for horaire in horaires %}
                    <tr>
                        <td>{{ horaire.day }}</td>
                        <td>{{ horaire.openTime ? horaire.openTime|date('H:i:s') : '' }}</td>
                        <td>{{ horaire.closeTime ? horaire.closeTime|date('H:i:s') :  '' }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun enregistrement d'horaire trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>


    {% if app.user %}
        {% if roleadmin %}
            <!-- Page d'accueil d'admin -->
            <div>Page d'accueil d'admin</div>
            <div>            </div>
        {% elseif roleveterinaire %}
            <!-- Page d'accueil d'veterinaire -->  
        {% elseif roleemployee %}
            <!-- Page d'accueil d'employee -->   
        {% endif %}
    {% endif %}
    

<!--<div class="row">
    <div class="col-md-12 text-center">
    <div class="col" style="text-align : right">
        <a><img src="image/zoo logo.jpg" alt="logo" width="50px" height="50px"></a>
    </div>-->
    <!--<div class="col-md-12 text-center">
    <div class="col" style="text-align : left">
        <button type="button" onclick="window.location.href='/home'" class="btn btn-outline-light"><em></em></button>
    </div>
</div>-->
    
<!-- ✅
<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/symfony/project/zooArcadia/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/symfony/project/zooArcadia/templates/home/index.html.twig</code></li>
    </ul>
</div>-->

{% endblock %}
