{% extends 'base.html.twig' %}

{% block title %}Page d'accueille{% endblock %}

{% block body %}
    <!-- ✅
<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/symfony/project/zooArcadia/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/symfony/project/zooArcadia/templates/home/index.html.twig</code></li>
    </ul>

</div>-->


{% endblock %}
