{% extends 'base.html.twig' %}

{% block title %}New Race{% endblock %}

{% block body %}
    <h1>Create new Race</h1>

    <div class="datatable">
        {{ include('admin/race/_form.html.twig') }}
    </div>

    <a href="{{ path('app_admin_race_index') }}"><button class="btn btn-outline-light my-3">Retour à la liste</button></a>
{% endblock %}
