{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <div class="table-responsive datatable">
        <table class="table table-bordered border-success">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ service.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ service.nom }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ service.description }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_user_service_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>
    </div>
{% endblock %}
