{% extends 'base.html.twig' %}

{% block title %}Edit Habitat{% endblock %}

{% block body %}
    <h1>Edit Habitat</h1>

    {{ include('user/habitat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_habitat_index') }}">back to list</a>

    {{ include('user/habitat/_delete_form.html.twig') }}
{% endblock %}
