{% extends 'base.html.twig' %}

{% block title %}Edit RapportEmployee{% endblock %}

{% block body %}
    <h1>Edit RapportEmployee</h1>

    <div class="datatable">
        {{ include('employee/rapport/_form.html.twig', {'button_label': 'Update'}) }}
    
        <a href="{{ path('app_employee_rapport_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>

        {{ include('employee/rapport/_delete_form.html.twig') }}
    </div>
{% endblock %}
