{% extends 'base.html.twig' %}

{% block title %}New Avis{% endblock %}

{% block body %}
    <h1>Create new Avis</h1>

    {{ include('employee/avis/_form.html.twig') }}

    <a href="{{ path('app_employee_avis_index') }}"><button class="btn btn-outline-dark my-3">Retour à la liste</button></a>
{% endblock %}
