{% extends 'base.html.twig' %}

{% block title %}New Animal{% endblock %}

{% block body %}
    <h1>Create new Animal</h1>

    <div class="datatable">
        {{ include('veterinaire/animal/_form.html.twig') }}
    </div>
    
    <a href="{{ path('app_veterinaire_animal_index') }}"><button class="btn btn-outline-light my-3">Retour à la liste</button></a>
{% endblock %}
