{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau service de zoo{% endblock %}

{% block body %}
    <h1>Créer un nouveau service de zoo</h1>
    <div class="datatable">

        {{ include('admin/zooservice/_form.html.twig') }}

        <a href="{{ path('app_admin_zooservice_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>
    </div>
{% endblock %}
