
body{
	padding:0 0;
	margin:0 0;
    font-family: 'Rancho', cursive;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family: 'OpenSans-Regular'
}

body {
    background-color: #118A61;
}

.container-fluid {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    float: left;
    text-decoration: none;
	color:#105030;
    font-family: 'Petit Formal Script', cursive;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand-div {
    float: left;
    display: inline-block;
}

.logo{
    background-image:url(../image/zoo_logo.jpg);
	height:8.5vh;
	width:10vh;
    display: inline-block;
	background-size:cover;
    float: top;
}

.header-logo{
    background-image:url(../image/zoo_logo.jpg);
	height:25.5vh;
	width:30vh;
	background-size:cover;
    float: top;
}

.brand{
    float: top;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid .navbar-brand-div > a:hover, .container-fluid .navbar-brand-div > a:focus, .authentification > a:hover, .authentification > a:focus {
    background-color: #118A61;
}

.navbar, .navbar .navbar-brand, .navbar .navbar-nav {
    /*background-color: #5ab645;*/
}
.collapse {
    text-align: center;
    margin: 0;
}

.navbar-nav {
    float: left;
    margin: 0;
	margin-left: 5em;
}

.collapse{
    font-weight: bold;
	text-align: center;
}

.authentification {
	margin: auto;
    font-size: 1.2em;
    font-weight: bold;
	text-align: center;
}
.navbar .navbar-nav > .nav-item  > a {
    color: #105030;   /*118A61;*/
	/*font-family: 'Rancho-Regular';*/
    font-size: 1.2em;
}
.navbar .navbar-nav > .nav-item > a:hover, .navbar .navbar-nav > .nav-item > a:focus {
    color: #10311d;
    background-color: #118A61;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: #10311d;
    background-color: rgba(249, 255, 247, 0.43);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #10311d;
    text-decoration: none;
    background-color: #118A61
}

h1, h2 {
    font-size: 2em;
    color: #fff;
    font-family: 'Rancho-Regular';
	text-align : center;
}

.flash-message {
    font-size: 1em;
    color: #fff;
    font-family: 'Rancho-Regular';
	text-align : center;
}

.header
{
	/*background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/zoo.jpg);*/
	background-image:url(../image/zoo.jpg);
	height:150vh;
	background-position:center;
	background-size:cover;
}

.table, .table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px!important;
	text-align : center;
}
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 0.9em;
    color: #10311d;
    border-top: none !important;
}

.datatable{
    margin: auto;
    width: 75%;
	text-align : center;
    font-weight: bold;
    padding-left: 5em;
    padding-right: 5em;
}

thead{
    font-size: 1.1em;
    font-weight: bold;
}

.pagination{
    margin: auto;
    width: 80%;
	text-align : center;
}
/* ----------------------------------------------------------- */


/* ---------------------tableau d'horaire--------------------- */
.horaire{
    width: 80%;
    margin : auto;
    display: inline-block; 
	text-align : left;
    padding: 5px;
}
.horairetable{
    border: 1px solid white;
    color :#105030;
    margin : auto;
    width: 30em;
    padding: 5px;
	text-align : center;
    font-weight: bold;
}
/* ----------------------------------------------------------- */


/* ------------------Habitats and its animals----------------- */
.datahabitat{
    margin: auto;
    width: 80%;
	text-align : center;
    font-weight: bold;
}

.habitatrow{
	margin: auto;
    background-color: #118A61;
    margin: auto;
	text-align : center;
    font-weight: bold;
}

.card {
	margin: auto;
    border-radius: 10px;
	border : 1px solid #392C1E !important;
    text-align: center;
}

.card img {
	margin: auto;
    text-align: center;
    width: 10em;
    height: 10em;
    border-radius: 10px;
}
.card .shadow {
	margin: auto;
    width: 10em;
    height: 10em;
    border-radius: 10px;
    text-align: center;
}

.card .card-body img {
	margin: auto;
    text-align: center;
    width: 10em;
    height: 10em;
    border-radius: 150px;
}
.card-title {
	margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #105030;
}
.card-text {
	margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #105030;
}
/* ----------------------------------------------------------- */



/* --------------------Responsive-ecran 991------------------- */
@media (max-width:991px){
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 10px;
    }
    .navbar-brand-div h1 a {
        font-size: 1em;
    }
    .navbar .navbar-nav > li > a {
        font-size: 1em;
    }
    h1 {
        font-size: 1em;
    }
    
    .logo{
        background-image:url(../image/zoo_logo.jpg);
        height:8vh;
        width:9vh;
        display: inline-block;
        background-size:cover;
        float: top;
    }

    .navbar-brand {
        text-decoration: none;
        color:#105030;
        /*font-size: 1.5em;
        font-family: 'Rancho-Regular';*/
        font-family: 'Petit Formal Script', cursive;
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 2px;
        padding-top: 0;
        padding-bottom: 0;
    }


    @media (max-width:409px){
        .logo{
            background-image:url(../image/zoo_logo.jpg);
            height:7vh;
            width:8vh;
            display: inline-block;
            background-size:cover;
            float: top;
        }

        .navbar-brand {
            text-decoration: none;
            color:#105030;
            /*font-size: 1.5em;
            font-family: 'Rancho-Regular';*/
            font-family: 'Petit Formal Script', cursive;
            font-size: 25px;
            font-weight: bold;
            text-transform: capitalize;
            letter-spacing: 2px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

}
