
body{
	padding:0 0;
	margin:0 0;
    font-family: 'Rancho', cursive;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	padding:0 0;
	margin:0 0;
}
p{
	padding:0 0;
	margin:0 0;
}
ul{
	padding:0 0;
	margin:0 0;	
}
body{
	padding:0 0;
	margin:0 0; 
	font-family: 'OpenSans-Regular'
}

body {
    background-color: #118A61;
}

.container-fluid {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    float: left;
    text-decoration: none;
	color:#105030;
    font-family: 'Petit Formal Script', cursive;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand-div {
    /*float: left;*/
    display: inline-block;
}

.logo{
    background-image:url(../image/zoo_logo.jpg);
	height:8.5vh;
	width:10vh;
    display: inline-block;
	background-size:cover;
    float: top;
}

.header-logo{
    background-image:url(../image/zoo_logo.jpg);
	height:25.5vh;
	width:30vh;
	background-size:cover;
    float: top;
}

.brand{
    float: top;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

.container-fluid .navbar-brand-div > a:hover, .container-fluid .navbar-brand-div > a:focus, .authentification > a:hover, .authentification > a:focus {
    background-color: #118A61;
}

.collapse {
    text-align: center;
    margin: 0;
}

.navbar-nav {
    float: left;
    margin: 0;
	margin-left: 5em;
}

.collapse{
    font-weight: bold;
	text-align: center;
}

.authentification {
	margin: auto;
    font-size: 1.2em;
    font-weight: bold;
	text-align: center;
}
.navbar .navbar-nav > .nav-item  > a {
    color: #105030;   /*118A61;*/
	/*font-family: 'Rancho-Regular';*/
    font-size: 1.2em;
}
.navbar .navbar-nav > .nav-item > a:hover, .navbar .navbar-nav > .nav-item > a:focus {
    color: #10311d;
    background-color: #118A61;
}
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    color: #10311d;
    background-color: rgba(249, 255, 247, 0.43);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #10311d;
    text-decoration: none;
    background-color: #118A61
}

h1, h2 {
    font-size: 2em;
    color: #fff;
    font-family: 'Rancho-Regular';
	text-align : center;
    font-weight: bold;
}

a {
    font-size: 1.2em;
    color: #fff;
    font-family: 'Rancho-Regular';
	text-align : center;
    font-weight: bold;
}

.flash-message {
    font-size: 1.2em;
    color: #fff;
    font-family: 'Rancho-Regular';
    margin: auto;
	text-align : center;
    font-weight: bold;

}

.header
{
	/*background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../image/zoo.jpg);*/
	background-image:url(../image/zoo.jpg);
	background-size:cover;
	height:130vh;
	background-position:center;
}

.table, .table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px!important;
	text-align : center;
}
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 0.9em;
    color: #10311d;
    width: 100em;
    border-top: none !important;
}



table.contact > thead > tr > th, table.contact > tbody > tr > th, table.contact > tfoot > tr > th, table.contact > thead > tr > td, table.contact > tbody > tr > td, table.contact > tfoot > tr > td {
    font-size: 0.9em;
    color: #10311d;
    text-align: justify;
    border: solid thin;
    padding: 5px;
    border-top: none !important;
}

table.contact-comment > thead > tr > th {
    font-size: 0.9em;
    color: #10311d;
    text-align: justify;
    border: solid thin;
    border-top: none !important;
}


.avis_section{
    background-color: white;
    margin: auto;
    color: #10311d;
	text-align : left;
    font-weight: bold;
    border : 1px solid #105030 !important;
    padding: 1em!important;
}

.datatable{
    background-color: white;
    margin: auto;
    width: 75%;
	text-align : center;
    font-weight: bold;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
}

.datatable-inscription{
    background-color: white;
    color: #105030;
    margin: auto;
    width: 75%;
	text-align : center;
    font-weight: bold;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
}

form label {   
    width: 100%;
    color: #fff;
    margin: 0;
	text-align : left;
}

.form-label, .form-check-label {   
    width: 100%;
    color: #105030;
    margin: 0;
	text-align : left;
}

.datatable form label, .datatable form legend {   
    width: 100%;
    color: #105030;
    margin: 0;
	text-align : left;
}

.datatable h1, .datatable h2, .avis_section h1, .datatable-inscription h1{
    font-size: 2em;
    color: #105030;
    font-family: 'Rancho-Regular';
	text-align : center;
    font-weight: bold;
}
.avis_section h2, .datatable h2{
    font-size: 1.8em;
    color: #105030;
    font-family: 'Rancho-Regular';
	text-align : center;
    font-weight: bold;
}

.avis_section h3, .datatable h3{
    font-size: 1.6em;
    color: #105030;
    font-family: 'Rancho-Regular';
	text-align : center;
    font-weight: bold;
}
.avis_section h4, .datatable h4{
    font-size: 1.4em;
    color: #105030;
    font-family: 'Rancho-Regular';
	text-align : center;
    font-weight: bold;
}

.avis_section h6, .datatable h6{
    font-size: 1.2em;
    color: #105030;
    font-family: 'Rancho-Regular';
	text-align : center;
    font-weight: bold;
}
.avis_section form label {   
    width: 100%;
    color: #105030;
    margin: 0;
	text-align : left;
}

.avis_section h6{
    font-size: 1.2em;
}

thead{
    font-size: 1.1em;
    font-weight: bold;
}

.pagination{
    margin: auto;
    width: 80%;
	text-align : center;
}
/* ----------------------------------------------------------- */


/* ---------------------tableau d'horaire--------------------- */
.horaire{
    width: 20%;
    margin : auto;
    display: inline-block; 
	text-align : left;
    padding: 5px;
}
.horairetable{
    border: 1px solid white;
    color :#105030;
    margin : auto;
    width: 30em;
    padding: 5px;
	text-align : center;
    font-weight: bold;
}
/* ----------------------------------------------------------- */


/* ------------------Habitats and its animals----------------- */
.datahabitat{
    margin: auto;
    width: 80%;
	text-align : center;
    font-weight: bold;
}

.habitatrow{
	margin: auto;
    background-color: #118A61;
    width: 70%;
    margin: auto;
	text-align : center;
    font-weight: bold;
}

.habitatrow{
	margin: auto;
    background-color: #118A61;
    width: 70%;
    margin: auto;
	text-align : center;
    font-weight: bold;
}

.homehabitatrow{
	margin: auto;
    width: 90%;
    margin: auto;
	text-align : center;
    font-weight: bold;
}

.homehabitatcol{
    font-size: 1em;
    color: #fff;
    font-family: 'Rancho-Regular';
	text-align : center;
    font-weight: bold;
    border-radius: 1em;
    border: solid thin;
    width: 90%;
    padding-top: 100eem;
}

.card {
	margin: auto;
    border-radius: 10px;
	border : 1px solid #392C1E !important;
    text-align: center;
}

.card a img {
	margin: auto;
    text-align: center;
    width: 10em;
    height: 10em;
    border-radius: 10px;
}
.card .shadow {
	margin: auto;
    width: 10em;
    height: 10em;
    border-radius: 10px;
    text-align: center;
}

.card .card-body img {
	margin: auto;
    text-align: center;
    width: 10em;
    height: 10em;
    border-radius: 150px;
}
.card-title {
	margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #105030;
}
.card-text {
	margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #105030;
}

/* ------------------------------------------------------------ */



/* ------------------------------------------------------------ */
/* -------------------- **Responsive-ecran**------------------- */
/* ------------------------------------------------------------ */



/* --------------------Responsive-ecran 1426------------------- */
@media (max-width:1426px){
    .header
    {
        background-image:url(../image/zoo.jpg) ;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height:564px;
        padding-bottom: 4em;
        height:110vh;
        background-position:center;
    }
    
    /* ---------------------tableau d'horaire--------------------- */
    .horaire{
        width: 30%;
        margin : auto;
        display: inline-block; 
        text-align : left;
        padding: 0;
    }
    /* ----------------------------------------------------------- */
}
/* ------------------- Responsive-ecran 1426 ------------------ */


/* --------------------Responsive-ecran 1120------------------- */
@media (max-width:1120px){
    .header
    {
        background-image:url(../image/zoo.jpg) ;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height:464px;
        padding-bottom: 4em;
        height:100vh;
        background-position:center;
    }
    /* ---------------------tableau d'horaire--------------------- */
    .horaire{
        width: 40%;
        margin : auto;
        display: inline-block; 
        text-align : left;
        padding: 0;
    }
    /* ----------------------------------------------------------- */
}
/* ------------------- Responsive-ecran 1120 ------------------ */
    


/* -------------------- Responsive-ecran 991------------------- */
@media (max-width:991px){
    .header
    {
        background-image:url(../image/zoo.jpg);
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height:164px;
        padding-bottom: 4em;
        height:80vh;
        background-position:center;
    }
    /* --------------------- tableau d'liste --------------------- */
    .datatable{
        background-color: white;
        margin: auto;
        width: 95%;
        text-align : center;
        font-weight: bold;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    table {
        margin : 0;
    }
    /* ---------------------tableau d'horaire--------------------- */
    .horaire{
        width: 50%;
        margin : auto;
        display: inline-block; 
        text-align : left;
        padding: 0;
    }
    
    /* --------------------- Nav bar header ---------------------- */
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 10px;
    }
    .navbar-brand-div h1 a {
        font-size: 1em;
        font-weight: bold;
    }
    .navbar .navbar-nav > li > a {
        font-size: 1em;
    }
    h1 {
        font-size: 1em;
        font-weight: bold;
    }
    
    .logo{
        background-image:url(../image/zoo_logo.jpg);
        height:8vh;
        width:9vh;
        display: inline-block;
        background-size:cover;
        float: top;
    }

    .navbar-brand {
        text-decoration: none;
        color:#105030;
        /*font-size: 1.5em;
        font-family: 'Rancho-Regular';*/
        font-family: 'Petit Formal Script', cursive;
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 2px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
/* --------------------Responsive-ecran 991------------------ */
    
    


    
/* --------------------Responsive-ecran 576------------------- */
@media (max-width:576px){
    .header
    {
        background-image:url(../image/zoo.jpg);
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height:264px;
        padding-bottom: 4em;
        height:70vh;
        background-position:center;
    }
    /* --------------------- tableau d'liste --------------------- */
    .datatable{
        background-color: white;
        margin: auto;
        width: 100%;
        text-align : center;
        font-weight: bold;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    /* ---------------------tableau d'horaire--------------------- */
    .horaire{
        width: 60%;
        margin : auto;
        display: inline-block; 
        text-align : left;
        padding: 0;
    }
    /* ----------------------------------------------------------- */
}
/* -------------------- Fin Responsive-ecran 576------------------ */






/* ----------------------Responsive-ecran 480--------------------- */
@media (max-width:480px){
    .header
    {
        background-image:url(../image/zoo.jpg) ;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height:164px;
        padding-bottom: 4em;
        height:60vh;
        background-position:center;
    }
    .logo{
        background-image:url(../image/zoo_logo.jpg);
        height:7vh;
        width:8vh;
        display: inline-block;
        background-size:cover;
        float: top;
    }

    .navbar-brand {
        text-decoration: none;
        color:#105030;
        /*font-size: 1.5em;
        font-family: 'Rancho-Regular';*/
        font-family: 'Petit Formal Script', cursive;
        font-size: 25px;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 2px;
        padding-top: 0;
        padding-bottom: 0;
    }
}
/* ----------------------------------------------------------- */







/* ----------------------Responsive-ecran 320--------------------- */
@media (max-width:320px){
    .header
    {
        background-image:url(../image/zoo.jpg) ;
        background-size:cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height:100px;
        padding-bottom: 4em;
        height:30vh;
        background-position:center;
    }
}