<form method="post" action="{{ path('app_veterinaire_rapport_delete', {'id': rapport_veterinaire.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rapport_veterinaire.id) }}">
    <button class="btn btn-outline-light my-3">Supprimer</button>
</form>
