{% extends 'base.html.twig' %}

{% block title %}Modifier rapport Veterinaire{% endblock %}

{% block body %}
    <h1>Modifier rapport Veterinaire</h1>

    <div class="datatable">
        {{ include('veterinaire/rapport/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a href="{{ path('app_veterinaire_rapport_index') }}"><button class="btn btn-outline-light my-3">Retour à la liste</button></a>

    {{ include('veterinaire/rapport/_delete_form.html.twig') }}
{% endblock %}
