{% extends 'base.html.twig' %}

{% block title %}New Horaire{% endblock %}

{% block body %}
    <h1>Créer une nouvelle heure</h1>

    <div class="datatable">
        {{ include('admin/horaire/_form.html.twig') }}

    <a href="{{ path('app_admin_horaire_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>
    </div>
{% endblock %}
