{% extends 'base.html.twig' %}

{% block title %}Edit AnimalImage{% endblock %}

{% block body %}
    <h1>Edit AnimalImage</h1>

    {{ include('admin/animal_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_animal_image_index') }}">back to list</a>

    {{ include('admin/animal_image/_delete_form.html.twig') }}
{% endblock %}
