{% extends 'base.html.twig' %}

{% block title %}New Habitat{% endblock %}

{% block body %}
    <h1>Create new Habitat</h1>

    <div class="datatable">
        {{ include('admin/habitat/_form.html.twig') }}
    
    <a href="{{ path('app_admin_habitat_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>
    </div>
{% endblock %}
