{% extends 'base.html.twig' %}

{% block title %}New Habitat{% endblock %}

{% block body %}
    <h1>Create new Habitat</h1>

    {{ include('admin/habitat/_form.html.twig') }}

    <a href="{{ path('app_admin_habitat_index') }}"><button class="btn btn-outline-dark">Retour à la liste</button></a>
{% endblock %}
