{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <h1>Edit Service</h1>

    {{ include('employee/service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_employee_service_index') }}"><button class="btn btn-outline-dark my-3">Retour à la liste</button></a>

    {{ include('employee/service/_delete_form.html.twig') }}
{% endblock %}
