{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block body %}
    <h1>Create new Service</h1>

    <div class="datatable">
        {{ include('employee/service/_form.html.twig') }}

    <a href="{{ path('app_employee_service_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>
    </div>
{% endblock %}
