{% extends 'base.html.twig' %}

{% block title %}Nouvel Animal{% endblock %}

{% block body %}
    <h1>Créer un nuvel animal</h1>

    <div class="datatable">
        {{ include('admin/animal/_form.html.twig') }}

        <a href="{{ path('app_admin_animal_index') }}"><button class="btn btn-outline-success my-3">Retour à la liste</button></a>
    </div>
{% endblock %}
